@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  //padding-bottom: 50px;
}

.w {
  width: 100%;
}


.f11em {
  font-size: 1.1em;
}

.fb {
  font-weight: bolder;
}

.c-white {
  color: #fff
}

.title {
  font-size: 1.5em;
}

.mt5 {
  margin-top: 5px;
}

.pAbs {
  position: absolute;
}

.p5 {
  padding: 5px;
}

//绝对定位居中
.absCenter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// table cell居中
.tbCenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
