@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  //padding-bottom: 50px;
}

.w {
  width: 100%;
}


// 字体相关
.f05r {
  font-size: 0.5rem;
}

.f06r {
  font-size: 0.6rem;
}

.f07r {
  font-size: 0.7rem;
}

.f08r {
  font-size: 0.8rem;
}

.f09r {
  font-size: 0.9rem;
}

.f10r {
  font-size: 1rem;
}

.fb {
  font-weight: bolder;
}

.c-white {
  color: #fff
}

.c-red {
  color: red;
}

.c-orange {
  color: orange;
}

// 位置相关

.pAbs {
  position: absolute;
}

//绝对定位居中
.absCenter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// table cell居中
.tbCenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.tc {
  text-align: center;
  justify-content: center;
}

.fl {
  float: left;
}

.m02r {
  margin: 0.2rem;
}

.mt02r {
  margin-top: 0.2rem;
}

.ml02r {
  margin-left: 0.2rem;
}

.m05r {
  margin: 0.5rem;
}

.p5 {
  padding: 5px;
}
